<nav class="navbar-glass" [class.nav-dark]="isDarkTheme">
  
  <div class="nav-container">
    
    <div class="logo" (click)="scrollTo('hero')" style="cursor: pointer;">
      <span class="mds-text">MD</span>
      <span class="studio-text">Studio</span>
    </div>

    <ul class="nav-links">
      <li><a (click)="scrollTo('servicios')" [class.active]="activeSection === 'servicios'" style="cursor: pointer;">Servicios</a></li>
      <li><a (click)="scrollTo('proceso')" [class.active]="activeSection === 'proceso'" style="cursor: pointer;">Como Trabajamos</a></li>
      <li><a (click)="scrollTo('soluciones')" [class.active]="activeSection === 'soluciones'" style="cursor: pointer;">Modular</a></li>
      <li><a (click)="scrollTo('estudio')" [class.active]="activeSection === 'estudio'" style="cursor: pointer;">Nosotros</a></li>
      <li><a (click)="scrollTo('proyectos')" [class.active]="activeSection === 'proyectos'" style="cursor: pointer;">Clientes</a></li>
    </ul>

    <button class="btn-contact desktop-only" (click)="scrollTo('contacto')">
      Contactanos
    </button>

    <button class="hamburger-btn" (click)="toggleMenu()" [class.active]="isMenuOpen">
      <span class="bar top"></span>
      <span class="bar mid"></span>
      <span class="bar bot"></span>
    </button>
  </div>

  <div class="mobile-menu" [class.open]="isMenuOpen">
    <a (click)="scrollTo('servicios')" [class.active]="activeSection === 'servicios'">Servicios</a>
     <a (click)="scrollTo('proceso')" [class.active]="activeSection === 'proceso'">Como Trabajamos</a>
     <a (click)="scrollTo('soluciones')" [class.active]="activeSection === 'soluciones'">Modular</a>
    <a (click)="scrollTo('estudio')" [class.active]="activeSection === 'estudio'">Nosotros</a>
    <a (click)="scrollTo('proyectos')" [class.active]="activeSection === 'proyectos'">Clientes</a>
    
    <button class="mobile-btn" (click)="scrollTo('contacto')">
      Contactanos
    </button>
  </div>
</nav>